<div class="component-header page-container">
  <div class="header__container">
    
    <!-- Bloc gauche : logo, texte et réseaux sociaux -->
    <div class="header__brand-logo">
        <img src="{{ header_logo }}" alt="Logo" />
    </div>
    
    <!-- Bloc droit : menu principal à colonnes (2 niveaux) -->
    <nav class="header__menu">
      {{ header_menu }}
    </nav>
    
  </div>
</div>
