.column-layout-container{
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
}

.column-layout-container.layout__five_column{
  grid-template-columns: repeat(5, 1fr);
}

.column-layout-container.layout__two_column{
  grid-template-columns: repeat(2, 1fr);
}

.column-layout-container.layout__one_column{
  grid-template-columns: 1fr;
}